<header class="w-full sticky top-0 left-0 bg-green-dark z-50">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center tracking-[0.5px] lg:py-6 relative">
    <a href="">
      <img
        src="../../../../assets/logo-dilvant.png"
        alt="logo-dilvant"
        class="h-[43px] w-auto lg:h-[53px]"
      />
    </a>
    <input type="checkbox" id="menu" class="peer hidden">
    <ul class="fixed bottom-0 space-y-12 p-6 translate-x-full h-[calc(100vh-72px)] peer-checked:translate-x-0 transition-transform ease-in-out duration-300 z-20 left-0 w-full bg-green-dark flex flex-col justify-center items-center lg:flex-row lg:static lg:gap-x-12 lg:translate-x-0 lg:p-0 lg:w-fit lg:space-y-0 lg:h-fit">
      <li class="flex items-center">
        <a href="" class="font-medium text-white text-base pb-1 border-b-2 border-transparent hover:border-white transition-all duration-300">Inicio</a>
      </li>
      <li class="flex items-center">
        <a href="" class="font-medium text-white text-base pb-1 border-b-2 border-transparent hover:border-white transition-all duration-300">Menú</a>
      </li>
      <li class="flex items-center">
        <a href="" class="font-medium text-white text-base pb-1 border-b-2 border-transparent hover:border-white transition-all duration-300">Nosotros</a>
      </li>
      <li class="flex items-center pb-2">
        <a href="" class="font-medium text-white text-base">Reservas</a>
        <button type="button" class="translate-y-[3px]">
          <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.071 13.814L17.021 8.864C17.1133 8.76849 17.2236 8.69231 17.3456 8.6399C17.4676 8.58749 17.5988 8.55991 17.7316 8.55875C17.8644 8.5576 17.9961 8.5829 18.119 8.63318C18.2419 8.68346 18.3535 8.75772 18.4474 8.85161C18.5413 8.9455 18.6155 9.05715 18.6658 9.18005C18.7161 9.30295 18.7414 9.43463 18.7403 9.56741C18.7391 9.70018 18.7115 9.8314 18.6591 9.95341C18.6067 10.0754 18.5305 10.1858 18.435 10.278L12.778 15.935C12.5905 16.1225 12.3362 16.2278 12.071 16.2278C11.8058 16.2278 11.5515 16.1225 11.364 15.935L5.70701 10.278C5.6115 10.1858 5.53531 10.0754 5.4829 9.95341C5.4305 9.8314 5.40291 9.70018 5.40176 9.56741C5.4006 9.43463 5.4259 9.30295 5.47618 9.18005C5.52647 9.05715 5.60072 8.9455 5.69461 8.85161C5.7885 8.75772 5.90016 8.68346 6.02305 8.63318C6.14595 8.5829 6.27763 8.5576 6.41041 8.55875C6.54319 8.55991 6.67441 8.58749 6.79641 8.6399C6.91841 8.69231 7.02876 8.76849 7.12101 8.864L12.071 13.814Z"
            fill="white"
          />
        </svg>
        </button>
      </li>
    </ul>
    <div class="flex gap-x-4 h-fit">
      <a
        href=""
        class="bg-yellow-primary flex items-center text-white font-medium text-base px-[24px] py-[12px] rounded-[50px] cursor-pointer lg:px-[28px] hover:bg-yellow-light transition-all ease-out duration-500"
      >
        Contacto
      </a>
      <label for="menu" class="flex items-center lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="white"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </label>
    </div>
  </div>
</header>
