<section class="bg-green-dark lg:bg-transparent lg:relative">
  <div class="container mx-auto px-4 py-8 flex flex-col gap-y-10 lg:flex-row lg:gap-x-10 xl:max-w-[1280px] relative z-10 lg:py-[60px]">
    <div class="flex flex-col text-white gap-y-8 lg:justify-center lg:max-w-[634px]">
      <h1 class="font-bold text-4xl xl:text-[56px] xl:leading-[61.6px]">Haz crecer tu amor por la comida peruana.</h1>
      <p class="font-normal text-xl xl:text-2xl">Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</p>
      <a href="" class="font-bold tracking-[0.5px] text-xl border-2 border-yellow-primary text-yellow-primary bg-transparent rounded-[50px] p-4 flex justify-center items-center w-fit lg:px-[3.5rem] xl:text-2xl hover:bg-yellow-primary hover:text-white transition-all ease-in-out duration-300">
        Nuestra nueva carta.
      </a>
    </div>
    <img src="../../../../../assets/food1.png" alt="food-1" class="rounded-[62px] max-h-[460px] object-cover lg:max-h-none lg:w-[450px] xl:w-[566px]">
  </div>
  <div class="custom-shape"></div>
</section>
