<section class="bg-green-dark lg:bg-transparent lg:relative">
  <div class="container mx-auto relative z-10 px-4 py-8 flex flex-col items-center gap-y-10 lg:flex-row-reverse lg:gap-x-[4rem] lg:py-[160px] lg:justify-between">
    <div class="flex flex-col text-white gap-y-8">
      <h2 class="font-bold text-[30px] xl:text-[56px]">Reserva hoy mismo.</h2>
      <p class="font-normal text-[24px]">Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
      <a href="" class="font-bold tracking-[0.5px] text-xl border-2 border-yellow-primary text-yellow-primary bg-transparent rounded-[50px] py-4 px-8 flex justify-center items-center w-fit lg:px-[3.5rem] xl:text-2xl hover:bg-yellow-primary hover:text-white transition-all ease-in-out duration-300">
        Reservar
      </a>
    </div>
    <div class="h-[488px] bg-white flex items-center rounded-[64px] overflow-hidden lg:w-[500px] shrink-0 xl:w-[600px]">
      <img src="../../../../../assets/reserva.png" alt="reserva" class="h-[95%] object-cover">
    </div>
  </div>
  <div class="custom-shape-reverse"></div>
</section>
