<footer class="bg-green-dark">
  <div class="container mx-auto px-4 py-8 lg:py-6 flex flex-col">
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-y-6 pb-5 border-b border-white sm:gap-x-6 xl:grid-cols-[repeat(auto-fit,_minmax(0,_284px))] xl:justify-between">
      <a href="">
        <img
          src="../../../../assets/logo-dilvant.png"
          alt="logo-dilvant"
          class="h-[35px] w-auto"
        />
      </a>
      <ul class="text-white font-normal text-base">
        <li class="font-bold pb-3">Platos Estrellas</li>
        <li class="py-3">Ceviche</li>
        <li class="py-3" >Lomo Saltado</li>
        <li class="py-3" >Causa Rellena</li>
      </ul>
      <ul class="text-white font-normal text-base">
        <li class="font-bold pb-3">Contacto</li>
        <li class="py-3">+51 999 999 999</li>
        <li class="py-3 break-words">dilvant.restaurante&#64;gmail.com</li>
      </ul>
      <ul class="text-white font-normal text-base">
        <li class="font-bold pb-3">Encuéntranos</li>
        <li class="py-3">Av. Dirección 1</li>
      </ul>
    </div>
    <h4 class="text-white text-center pt-5 font-normal text-base">
      Plantilla hecha por Dilvant - 2024
    </h4>
  </div>
</footer>
